@tailwind base; 
@tailwind utilities; 
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
::-webkit-scrollbar {
	@apply w-1 h-1;
}
::-webkit-scrollbar-track {
	@apply bg-transparent;
}
::-webkit-scrollbar-thumb {
	@apply bg-primary cursor-pointer;
}
.ms-200 {
    --animate-duration: 200ms;
}

.ms-300 {
    --animate-duration: 300ms;
}

.ms-400 {
    --animate-duration: 400ms;
}

.ms-500 {
    --animate-duration: 500ms;
}

.ms-600{
    --animate-duration: 600ms
}

.ms-700{
    --animate-duration: 700ms
}
.ms-800{
    --animate-duration: 800ms
}
.ms-900{
    --animate-duration: 900ms
}
.ms-slow{
    --animate-duration: 2000ms
}